.payment{
    padding: 140px 0 140px;
    background: rgba(var(--secondary-color-rgb), 0.1);
}
.payment-title{
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 30px;
}
.payment-list {
    margin-top: 20px;
    height: 480px;
    overflow: auto;
    padding: 5px;
}
.payment-list:first-child{
    margin-top: 0;
}
.payment-list .item {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}
.payment-list .form-check-label {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 14px;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.5s;
    gap: 15px;
    background-color: var(--white-color);
}
.payment-list-content{
    display: flex;
    align-items: center;
    gap: 20px;
}
.payment-list-info .payment-list-title{
    display: block;
    font-size: 20px;
    font-weight: 500;
    color: var(--black-color);
    margin-bottom: 10px;
}
.payment-list-info .payment-list-text {
    display: inline-block;
    color: var(--text-color-1);
    max-width: 462px;
}
.payment-list .form-check-label .payment-list-image img{
    width: 50px;
    height: 50px;
    min-width: 50px;
    min-height: 50px;
    border-radius: 50%;
}
.form-check-input:checked {
    background-color: var(--secondary-color);
    border-color: var(--secondary-color);
}
.payment-list .form-check-label .content-area {
    max-width: 400px;
    padding-right: 30px;
}
.payment-list .form-check-input {
    position: absolute;
    right: 15px;
}
.payment-list .form-check-input[type=radio]:checked + .form-check-label {
    background-color: var(--bg-2);
}

/* right side */
.payment-side-box {
    border: 1px solid var(--secondary-color);
    padding: 30px 30px;
    border-radius: 6px;
    margin-bottom: 30px;
}
.payment-side-bar label{
    font-size: 18px;
    margin-bottom: 10px;
}
.payment-side-bar .nice-select{
    width: 100% ;
    float: none;
    z-index: 1;
    border-radius: 7px;
    border: none;
    font-size: 16px;
    height: 48px;
    line-height: 48px;
}
.payment-side-bar .nice-select:after {
    border-bottom: 1px solid var(--black-color);
    border-right: 1px solid var(--black-color);
    height: 9px;
    width: 9px;
    margin-top: -7px;
    right: 18px;
}
.payment-side-bar .nice-select .list {
    width: 100%;
}
.payment-summary-list ul{
    padding: 10px 0 20px;
}
.payment-summary-list ul li{
    padding: 12px 0 12px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.payment-side-bar .btn-1{
    width: 100%;
    display: flex;
    justify-content: center;
}